<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513570110811-eepvu1o5nq9hk7rlbn9uihmmg1nh0erp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513570110811-eepvu1o5nq9hk7rlbn9uihmmg1nh0erp</string>
	<key>API_KEY</key>
	<string>AIzaSyBp_cLvon020y6z5KCVws9xQ72jIRpFHac</string>
	<key>GCM_SENDER_ID</key>
	<string>513570110811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eatassured</string>
	<key>PROJECT_ID</key>
	<string>eatassured-cu</string>
	<key>STORAGE_BUCKET</key>
	<string>eatassured-cu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513570110811:ios:a528520c85bd64420b6e7e</string>
</dict>
</plist>